@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1 class="display-4">Weston's Blog</h1>
    <p class="lead">Welcome to my blog! Here, I'll post regularly about the happenings in my life :)</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="About" role="button">Learn About Me :)</a>
</div>
<div class="container-fluid">


    <div class="row">
        <div class="col-sm-offset-3 col-sm-5">
            <h2>Recent posts</h2>

        </div>

    </div>
    <div class="col-sm-6"></div>

    <hr>
    <br>

    <div class="row">
        <div class="col-sm-offset-2 col-sm-2">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">How My day went! - 3/2/2021</h5>
                    <p class="card-text">Today was pretty good - let me tell you about it :)</p>
                    <a href="#" class="btn btn-primary">Go to Post</a>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">How My day went! - 3/3/2021</h5>
                    <p class="card-text">Today was pretty good - let me tell you about it :)</p>
                    <a href="#" class="btn btn-primary">Go to Post</a>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">How My day went! - 3/4/2021</h5>
                    <p class="card-text">Today was pretty good - let me tell you about it :)</p>
                    <a href="#" class="btn btn-primary">Go to Post</a>
                </div>
            </div>
        </div>
    </div>
</div>
