@{
    ViewData["Title"] = "ToH II: MVCverse";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the TOH application version 2.0 built with ASP.NET Core MVC.</p>
</div>

<!--Example of  a weakly typed view-->
